body{
    background-color: white;
    padding: 0;
    margin:0;
    max-width: 100%;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.barlow-regular {
    font-family: "Barlow", serif;
    font-weight: 400;
    font-style: normal;
}
.barlow-bold {
    font-family: "Barlow", serif;
    font-weight: 700;
    font-style: normal;
}

.header-container{
    width: 100%;
    background-color: #003594;
    color: white;
    display: flex;
    flex-direction: row;
    min-height: 80px;
    align-items: flex-start;
}
.head-box{
    display: flex;
    padding: 1% 12% 0% 12%;
    max-height: 100%;
}
.head-text-box{
    display: flex;
    align-self: center;
    padding: 10px;
    height: 100%;
    border-left: 1px solid rgba(251, 238, 238, 0.142);
}
.header-text h3{
    font-family: 'Barlow',serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}
.header-text h4{
    font-family: 'Barlow',serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
.logo img{
    width: auto;
    align-items: flex-start;
    height: 45px;
    padding: 20px;
}

.nav {
    padding: 0 12%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #003594;
    color: white;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    list-style-type: none;
    max-width: 100%;
    padding: 0;
}
.nav-bar li {
    list-style: none;
}
.nav-bar a {
    background-color: #003594;
    display: inline-block;
    border-width: 0 1px;
    border-color: rgba(162, 154, 154, 0.142);
    border-style: solid;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.nav-text{
    font-family: 'Barlow', serif;
    font-size: 20px;
    font-weight: 700;
}
.nav-bar a:hover {
    filter: brightness(160%);
}
.nav-bar a:active, .nav-bar .active-link {
    background-color: rgba(255, 184, 28);
    filter: brightness(100%);
}
.nav-bar a:active, .nav-bar .active-link:hover{
    filter: brightness(100%);
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.info-container{
    padding: 0 12% 0 12%;
}
.info-text h1{
    font-family: 'Roboto', serif;
    font-weight:700;
    font-style: bold;
    font-size: 40px;
}
.info-text p{
    font-family: 'Roboto', serif;
    font-weight:400;
    font-size: 24px;
}
.info-box{
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-container{
    background-color: #2b2b2b;
    padding: 5% 12% 5% 12%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 100%;
}
.footer-box{
    display: block;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
}
.footer-row{
    display: flex;
    flex-direction: row;
}
.footer-box img{
    height: 40px;
    width: auto;
}
.footer-box h3{
    font-size: 16px;
    font-weight: 400;
    border-left: 1px solid rgba(162, 154, 154, 0.142);
    margin: 10px 10px 10px 10px;
    padding-left: 5px;

}
.footer-text h3{
    font-family: 'Roboto', serif;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
.footer-text h4{
    font-family: 'Roboto', serif;
    color: white;
    font-size: 15px;
    font-weight: 300;
}
.footer-text p{
    font-family: 'Roboto', serif;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
.footer-text a{
    font-family: 'Roboto', serif;
    color: #FFB81C;
    font-size: 12px;
    text-decoration: none;
    font-weight: 200;
}
.col-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.col-list li {
    break-inside: avoid;
    margin-bottom: 10px;
}


@media only screen and (max-width:600px) {
    .header-container{
        width: 100%;
        background-color: #003594;
        color: white;
        display: flex;
        flex-direction: row;
        min-height: 80px;
        align-items: flex-start;
        padding: 0;
    }
    .head-box{
        display: flex;
        max-height: 100%;
    }
    .head-text-box{
        display: flex;
        align-self: center;
        padding: 10px;
        height: 100%;
        border-left: 1px solid rgba(251, 238, 238, 0.142);
    }
    .header-text h3{
        font-family: 'Barlow',serif;
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
    .header-text h4{
        font-family: 'Barlow',serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
    }
    .logo img{
        width: auto;
        align-items: flex-start;
        height: 45px;
        padding: 20px;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #FFB81C;
        max-width: 100%;
        box-sizing: border-box;
    }
    .menu-toggle {
        display: block;
        margin: 3px;
        max-width: 100%;
    }
    button.menu-toggle{
        color:#003594;
        box-sizing: border-box;
    }
    .nav-bar {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #FFB81C;
        padding: 0;
        margin: 0;
    }
    .nav-bar.active {
        display: flex;
    }
    .nav-bar a {
        display: block;
        padding: 11px;
        text-align: left;
        background-color: #FFB81C;
        color: #003594;
        padding: 3px 0 3px 0;
        margin: 0;
        border-width: 2px 0 0 0;
        max-width: 100%;
    }
    .nav-bar a:hover{
        background-color: #003594;
        color: white;
        filter: brightness(160%);
    }
    .nav-text{
        font-family: 'Barlow', serif;
        font-weight: 600;
        font-size: 18px;
        max-width: 100%;
    }
    
    .info-container{
        padding: 0 12% 0 12%;
        display: flex;
        flex-wrap: wrap;
    }
    .info-text h1{
        font-family: 'Roboto', serif;
        font-weight:700;
        font-style: bold;
        font-size: 40px;
    }
    .info-text p{
        font-family: 'Roboto', serif;
        font-weight:400;
        font-size: 14px;
    }
    .info-box{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    
    .footer-container{
        background-color: #2b2b2b;
        padding: 5% 12% 5% 12%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        max-width: 100%;
    }
    .footer-box{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
        padding: 0 10px 0 10px;
    }
    .footer-row{
        display: flex;
        flex-direction: column;
    }
    .footer-box img{
        height: auto;
        width: 90px;
    }
    .footer-box h3{
        font-size: 14px;
        font-weight: 400;
        margin: 5px 5px 5px 5px;
        padding-left: 0px;
        border: none;
    }
    .footer-text h3{
        font-family: 'Roboto', serif;
        color: white;
        font-size: 20px;
        font-weight: 300;
        border: none;
    }
    .footer-text h4{
        font-family: 'Roboto', serif;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    .footer-text p{
        font-family: 'Roboto', serif;
        color: white;
        font-size: 12px;
        font-weight: 300;
    }
    .footer-text a{
        font-family: 'Roboto', serif;
        color: #FFB81C;
        font-size: 12px;
        text-decoration: none;
        font-weight: 200;
    }
    .col-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        list-style-type: none;
        padding: 0;
        width: 100%;
    }
    .col-list li {
        break-inside: avoid;
        margin-bottom: 10px;
    }
}
